/*All Forms */

body {
    max-width: 800px;
    margin: 0px auto;
    margin-top: 10rem;
    background-color: #ccc;
}

h1 {
    padding: 1rem;
    text-align: center;
}

button[type="submit"] {
    float: right;
}

/*Login Form css*/

.nav-tabs .nav-link.active,
.tab-content {
    background-color: #343a40;
    color: #f8f8f8;
}

.nav-tabs .nav-link {
    background-color: darkgreen;
    color: #f8f8f8;
}

.tab-content {
    padding: .5rem;
}

/*Forgot Form css*/

.forgot,
.pwd-reset {
    background-color: #343a40;
    color: #f8f8f8;
    padding: .5rem
}

.forgot p {
    text-align: center;
    font-weight: 400;
    color: red;
}

/*Login Form css*/

/*Login Form css*/

/*Login Form css*/

/*Login Form css*/
